$chessboard-size: 800px;

#chessboard
{
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: rgb(179, 143, 34);
    width: $chessboard-size;
    height: $chessboard-size;
    .tile 
    {
        width: calc(#{$chessboard-size} / 8);
        height: calc(#{$chessboard-size} / 8);
        background-color: white;
    }
    .black-tile
    {
        background-color: #779556;
    }
    .white-tile
    {
        background-color: #ebecd0;
    }
}

