<!DOCTYPE html>
<html>
  <head>
    <title>openChess</title>
    <link rel="stylesheet" href="chessboard-0.3.0.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="chessboard-0.3.0.min.js"></script>
   <script src="chess.js/chess.min.js"></script>
  </head>
  <body>
    <a href="random">random vs random</a>
      <div id="board" style="width: 400px"></div>
      <p>Status: <span id="status"></span></p>
    <script>
var board,
  game = new Chess();
  statusEl = $('#status');

// do not pick up pieces if the game is over
// only pick up pieces for White
var onDragStart = function(source, piece, position, orientation) {
  if (game.in_checkmate() === true || game.in_draw() === true ||
    piece.search(/^b/) !== -1) {
    return false;
  }
};

pawn=10
knight=30
bishop=30
tower=50
queen=90
king=900

cases=[]
for(i=1;i<9;i++)
{
  for(j=0;j<8;j++)
  {cases[(i-1)*8+j]=(j+10).toString(36)+i;}
}
console.log(cases);
var updateStatus = function() {
  var status = '';

  var moveColor = 'White';
  if (game.turn() === 'b') {
    moveColor = 'Black';
  }

  // checkmate?
  if (game.in_checkmate() === true) {
    status = 'Game over, ' + moveColor + ' is in checkmate.';
  }

  // draw?
  else if (game.in_draw() === true) {
    status = 'Game over, drawn position';
  }

  // game still on
  else {
    status = moveColor + ' to move';

    // check?
    if (game.in_check() === true) {
      status += ', ' + moveColor + ' is in check';
    }
  }

  statusEl.html(status);
};


var removeGreySquares = function() {
  $('#board .square-55d63').css('background', '');
};

var greySquare = function(square) {
  var squareEl = $('#board .square-' + square);

  var background = '#a9a9a9';
  if (squareEl.hasClass('black-3c85d') === true) {
    background = '#696969';
  }

  squareEl.css('background', background);
};
var onMouseoverSquare = function(square, piece) {
  // get list of possible moves for this square
  var moves = game.moves({
    square: square,
    verbose: true
  });

  // exit if there are no moves available for this square
  if (moves.length === 0) return;

  // highlight the square they moused over
  greySquare(square);

  // highlight the possible squares for this piece
  for (var i = 0; i < moves.length; i++) {
    greySquare(moves[i].to);
  }
};
var onMouseoutSquare = function(square, piece) {
  removeGreySquares();
};

var onSnapEnd = function() {
  board.position(game.fen());z
};

function evaluateBoard()
{
  total=0
  for(j=0;j<64;j++)
  {
    try{
    i=game.get(cases[j]);
    console.log("pawn :"+i.type+"    color : "+i.color);
    actual=0
        if(i.type=="p")
        {
          actual=10
        }
        else if (i.type=="n") {
          actual=30
        }
        else if (i.type=="r") {
          actual=50
        }
        else if (i.type=="b") {
          actual=30
        }

        else if (i.type=="q") {
          actual=90
        }
        else if (i.type=="k") {
          actual=900
        }
        if(i.color=='b')
        {
          actual=actual*-1;
        }
      total=total+actual;
    }
    catch
    {
      console.log("void");
    }
    }
    console.log("Total : "+String(total));
return total;
  }
  var positionCount=0;

  var minimaxRoot =function(depth, game, isMaximisingPlayer) {

var newGameMoves = game.moves();
var bestMove = -9999;
var bestMoveFound;

for(var i = 0; i < newGameMoves.length; i++) {
    var newGameMove = newGameMoves[i]
    game.move(newGameMove);
    var value = minimax(depth - 1, game, -10000, 10000, !isMaximisingPlayer);
    game.undo();
    if(value >= bestMove) {
        bestMove = value;
        bestMoveFound = newGameMove;
    }s
}
return bestMoveFound;
};

var minimax = function (depth, game, alpha, beta, isMaximisingPlayer) {
positionCount++;
if (depth === 0) {
    return -evaluateBoard(game.board());
}

var newGameMoves = game.moves();

if (isMaximisingPlayer) {
    var bestMove = -9999;
    for (var i = 0; i < newGameMoves.length; i++) {
        game.move(newGameMoves[i]);
        bestMove = Math.max(bestMove, minimax(depth - 1, game, alpha, beta, !isMaximisingPlayer));
        game.undo();
        alpha = Math.max(alpha, bestMove);
        if (beta <= alpha) {
            return bestMove;
        }
    }
    return bestMove;
} else {
    var bestMove = 9999;
    for (var i = 0; i < newGameMoves.length; i++) {
        game.move(newGameMoves[i]);
        bestMove = Math.min(bestMove, minimax(depth - 1, game, alpha, beta, !isMaximisingPlayer));
        game.undo();
        beta = Math.min(beta, bestMove);
        if (beta <= alpha) {
            return bestMove;
        }
    }
    return bestMove;
}
};

var evaluateBoard = function (board) {
var totalEvaluation = 0;
for (var i = 0; i < 8; i++) {
    for (var j = 0; j < 8; j++) {
        totalEvaluation = totalEvaluation + getPieceValue(board[i][j], i ,j);
    }
}
return totalEvaluation;
};





var makeRandomMove = function() {
  var possibleMoves = game.moves();
  var bestValue=-9999
  // game over
  if (possibleMoves.length === 0) return;
  var depth=3;
  var bestMove = minimaxRoot(depth, game, true);
  game.move(bestMove);
  board.position(game.fen());
};

var onDrop = function(source, target) {
  // see if the move is legal
  var move = game.move({
    from: source,
    to: target,
    promotion: 'q' // NOTE: always promote to a queen for example simplicity
  });

  // illegal move
  if (move === null) return 'snapback';

  // make random legal move for black
  window.setTimeout(makeRandomMove, 250);
  updateStatus();
};

// update the board position after the piece snap
// for castling, en passant, pawn promotion
var onSnapEnd = function() {
  board.position(game.fen());
};




var cfg = {
  draggable: true,
  position: 'start',
  onDragStart: onDragStart,
  onDrop: onDrop,
  onMouseoutSquare: onMouseoutSquare,
  onMouseoverSquare: onMouseoverSquare,
  onSnapEnd: onSnapEnd
};
board = ChessBoard('board', cfg);
updateStatus();
    </script>
  </body>
</html>
