.tile
{
    display: grid;
    place-content: center;
    .chess-piece-image
    {
        width: 100px;
        height:  100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80px;
        
    }
    .chess-piece-image:hover
    {
        cursor: grab;
    }
    .chess-piece-image:active
    {
        cursor: grabbing;
    }
}