:root
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body
{
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.App
{
  background-color: rgb(130, 208, 202);
  display: grid;
  place-content: center;
  height: 100vh;
}